{% extends "base.html" %}
{% block title %}Шпион{% endblock %}
{% block content %}
<div class="hero-body is-medium">
    <div class="container">
        <h1 class="title">Мониторинг</h1>
        <br>
        <h2 class="subtitle">Введите имя пользователя instagram</h2>
        <h2 class="subtitle">На этих страницах будут проанализированы комментарии</h2>
        {% if messages %}
            {% for message in messages %}
            <h3 class="subtitle" {% if message.tags == "error" %} style="color:red" {% else %} style="color:green" {% endif %}>{{ message }}</h3>
            {% endfor %}
        {% endif %}
        <div class="columns">
            <div class="column is-narrow is-4">
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="control has-icons-left has-tooltip-bottom has-tooltip-arrow has-tooltip-warning" data-tooltip="Только имя пользователя, не URL.">
                        <input class="input is-rounded is-medium" type="text" name="username" placeholder="Имя пользователя" required>
                        <span class="icon is-left">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </div>
            </div>
            <div class="column">
                <button id="button" onclick="IsLoading()" class="button is-rounded is-warning is-medium" type="submit">Добавить</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock%}
